<main>
  <br>
    <div class="container">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="card" style="width: 100%; height: 100%;">
                    <div class="card-header">
                        <h3 class="card-title">{{gig.title}}</h3>
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
                        <p class="card-text">{{gig.description}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Location:</h6>
                        <p class="card-text">{{gig.location}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Date(s) Needed:</h6>
                        <p class="card-text">{{gig.date_needed}}</p>
                        <h6 class="card-subtitle mb-2 text-muted">Earnings:</h6>
                        <p class="card-text">{{gig.amount_offered}}</p>
                        <a href="#" class="card-link">Phone: {{user.phone}}</a>
                        <a href="mailto:{{user.email}}" class="card-link">Email</a>
                        <h5 class="card-subtitle mb-2 text-muted">By: {{user.username}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</main>
