<main>
    <div class="container-fluid but-fixed">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-10 col-lg-8">
                <div class="card border-0">
                    <div class="card-body">
                        <h4 class="card-title">{{gig.title}}</h4>
                        <h6 class="card-subtitle mb-4 text-muted font-weight-light">Posted by: {{gig.User.username}}</h6>
                        <h6 class="mb-2 text-muted font-weight-light">Description:</h6>
                        <p class="mb-5">{{gig.description}}</p>
                        <div class="row">
                            <div class="col-4">
                                <h6 class="card-subtitle mb-2 text-muted">Location:</h6>
                                <p class="card-text">{{gig.location}}</p>
                            </div>
                            <div class="col-4">
                                <h6 class="card-subtitle mb-2 text-muted font-weight-light">Date Needed:</h6>
                                <p class="card-text">{{gig.date_needed}}</p>
                            </div>
                            <div class="col-4">
                                <h6 class="card-subtitle mb-2 text-muted font-weight-light">Offering:</h6>
                                <p class="card-text">{{gig.amount_offered}}</p>
                            </div>
                        </div>
                        <br>
                        <p class="mb-2"><span class="text-muted font-weight-light">Phone:</span> {{gig.User.phone}}</p>
                        <p class="mb-0"><span class="text-muted font-weight-light">Email:</span> <a href="mailto:{{gig.User.email}}" class="card-link">{{gig.User.email}}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-lg-4">
                {{#if relatedgigs}}
                    <div class="card border-0">
                        <div class="card-header">Related Gigs</div>
                        <ul class="list-group list-group-flush">
                            {{#each relatedgigs}}
                                <li class="list-group-item"><a href="/gig-info/{{this.id}}">{{this.title}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</main>
