<main>
    <div class="container-fluid but-fixed">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-10 col-lg-8">
                <div class="card border-0">
                    <h4 class="card-header">{{user.username}}</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-2 text-muted">Fullname:</p>
                                <p class="card-text">{{user.fullname}}</p>
                            </div>
                            <div class="col-4">
                                <p class="mb-2 text-muted font-weight-light">Location:</p>
                                <p class="card-text">{{user.location}}</p>
                            </div>
                            <div class="col-4">
                                <p class="mb-2"><span class="text-muted font-weight-light">Phone:</span> {{user.phone}}</p>
                                <p class="mb-0"><span class="text-muted font-weight-light">Email:</span> <a href="mailto:{{gig.User.email}}" class="card-link">{{user.email}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
